---
import Paper from "@layouts/Paper.astro";
import { getCollection } from "astro:content";

const articles = await getCollection("articles");
const coverStories = await getCollection("articles", ({ data }) => data.highlight.listed === true);
---

<Paper title="news.app">
    <main>
    <article class="articleBox">
            <article>
                <section>
                    <h2>전체 기사 목록</h2>
                    <ul>
                        {articles.map( article => (
                                <li>
                                    <a href={`/article/${article.data.slug}`}>{article.data.headline}</a> 취재: {article.data.authors}
                                </li>
                            ))}
                    </ul>
                    {
                        articles.length === 0 && (
                            <p>
                                No articles found in the 'articles' collection.
                            </p>
                        )
                    }
                </section>
<section>
    <h2>현재 표지 기사</h2>

                <ul>
                    {
                        coverStories.length > 0 && (
                            <li>
                                <a href={`/article/${coverStories[0].data.slug}`}>
                                    <strong>{coverStories[0].data.headline}</strong>
                                </a> 
                                취재: {coverStories[0].data.authors}
                            </li>
                        )
                    }
                </ul>

            </section>
                <section>
                    <h2>표지기사 목록</h2>
                    <ul>
                        {
                            coverStories.map((coverStory, index) => (
                                <li>
                                    <a href={`/article/${coverStory.data.slug}`}>
                                        {index === 0 ? <strong>{coverStory.data.headline}</strong> : coverStory.data.headline}
                                    </a> 
                                    취재: {coverStory.data.authors}
                                </li>
                            ))
                        }
                    </ul>
                    {
                        coverStories.length === 0 && (
                            <p>
                                No cover stories
                            </p>
                        )
                    }
                </section>
            </article>
        </article>
    </main>
</Paper>
