---
import "@styles/article.css";

import { Image } from "astro:assets";
const { frontmatter } = Astro.props;
const latestRevision = frontmatter.revisions?.reduce((latest, current) => {
	return new Date(current.timestamp) > new Date(latest.timestamp)
		? current
		: latest;
}, frontmatter.revisions[0]);

// Format the latest revision timestamp
const latestRevisionDate = new Date(latestRevision?.timestamp).toLocaleString(
	"ko-KR",
	{
		year: "numeric",
		month: "long",
		day: "numeric",
		hour: "2-digit",
		minute: "2-digit",
	},
);
---

{(() => {
	switch (frontmatter.type) {
		case 'graphics':
			return (
				<div class="text-center">
			<p>{frontmatter.category} / {frontmatter.flytitle}</p>
			<h1 class="text-center">{frontmatter.headline}</h1>
<p class="rubric">{frontmatter.rubric}</p>
</div>
			
		); 	
		case 'article':
			return (
				<p>{frontmatter.category} / {frontmatter.flytitle}</p>
				<h1>{frontmatter.headline}</h1>
<p class="rubric">{frontmatter.rubric}</p>

<figure>
  {frontmatter.image?.length > 0 && (
    <>
      <img src={frontmatter.image[0].src} alt={frontmatter.image[0].alt || ''} />
      <figcaption>{frontmatter.image[0].caption}</figcaption>
    </>
  )}
</figure>
			);
</figure>;
		default:
			return <p>{frontmatter.category} / {frontmatter.flytitle}</p>;

	}
})()}



<p class="time">최종 수정일: {latestRevisionDate}</p>



